name: Build, test and push

on:
  push:
    branches: [master]
    paths-ignore:
      - "README.md"

jobs:
  update-readme:
    runs-on: ubuntu-latest
    env:
      UPDATE_FILE_PATH: "scripts/update_readme.sh"
      COMMITPUSH_FILE_PATH: "scripts/commit_push.sh"
    steps:
      - uses: actions/checkout@v2
      - name: Update README.md file
        run: |
          bash "${UPDATE_FILE_PATH}"
      - name: Commit and push new README.md file
        run: |
          bash "${COMMITPUSH_FILE_PATH}"

  pipeline:
    runs-on: ubuntu-latest

    env:
      DOCKER_TAG: "unfor19/replacer:latest"
      DOCKER_FILENAME: "Dockerfile"
      TEST_FILE_PATH: "tests/test_docker.sh"

    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: |
          docker build . --file "${DOCKER_FILENAME}" --tag "${DOCKER_TAG}"
      - name: Test with bash script
        run: |
          bash "${TEST_FILE_PATH}"
      - name: Push to Docker registry
        run: |
          echo '${{ secrets.DOCKER_PASSWORD }}' | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push "${DOCKER_TAG}"
